@media (prefers-color-scheme: dark) {
    body {
        background-color: #1c1c1e;
        color: #fefefe;
    }
    a {
        color: #5fa9ee;
    }
    img {
        filter: grayscale(20%);
    }
}

table {
    border-collapse: collapse
}

td {
    border: 1px solid black;
    padding: 10px;
}