@media (prefers-color-scheme: dark) {
    body {
        background-color: #1c1c1e;
        color: #fefefe;
    }
    a {
        color: #5fa9ee;
    }
    img {
        filter: grayscale(20%);
    }
}

.main_box {
    position: relative;
    background: url('https://cdn.discordapp.com/attachments/820367515350728727/872457959345643550/1081027.jpg') right no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main_box .sidebar_menu {
    position: fixed;
    height: 100vh;
    width: 280px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo a {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    line-height: 60px;
    text-decoration: none;
}

.sidebar_menu .menu {
    position: absolute;
    top: 80px;
    width: 100%;
}
